/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/*
main color:#087f5b
grey color:#343a40

*/
*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}
body{
  font-family:'Inter', sans-serif;
  font-size: 16px;
  color:#343a40;
}
.container{
  width: 990px;
  margin: 0 auto;
}
header{
  display: grid;
  grid-template-columns: 1fr 440px;
  column-gap: 80px;
  align-items: center;
  margin: 80px 0;
}
h2,p{
  margin-bottom: 35px;
}
h3{
  margin: 20px 0;
}
h1{
  /* 44 / 52 / 62 */
  font-size: 44px;
  letter-spacing: -.7px;
  line-height: 1.1;
  margin-bottom: 35px;
}
h2{
  font-size: 30px;
}
p{
  font-size: 18px;
  line-height: 1.7;
}
ul{
  list-style: none;
}
li{
  margin-bottom: 5px;
  line-height: 1.7;
}
img{
  width: 100%;
}
/* Reuseable components  */
.btn:link,
.btn:visited{
  background-color: #087f5b;
  color: #ffff;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  display: inline-block;
}
.btn:hover,
.btn:active{
  background-color: #0ca678;
}
.btn-big{
  font-size: 18px;
  padding: 18px 32px;
}
.btn-small{
  font-size: 14px;
  padding: 8px 16px;
}
.hero-img{
 width: 440px;
 height: auto;
}
.feature-section{
  margin-bottom : 40px;
}
.feature-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
.feature-icon{
  stroke: #087f5b;
  width: 32px;
  height: 32px;
}
.testimonial-section{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  column-gap: 40px;
  align-items: center;
  margin-bottom: 80px;
  background-color: #087f5b;
  color: #fff;
  padding: 18px;
}
.testimonial{
  grid-column: 2 / -1;
}
.testimonial h2{
  font-size: 26px;
}
.products{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product-card{
  width: 270px;
}
.chair-icon{
  stroke: #087f5b;
  width: 24px;
  height: 24px;
}
.price{
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}
footer{
  margin-top: 80px;
}
footer p{
  font-size: 14px;
  color: #495057;
}